@font-face {
    font-family: "Poppins";
    src: local("Poppins-Regular"), url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: local("Poppins-Medium"), url("./fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Black";
    src: local("Poppins-Black"), url("./fonts/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins-SemiBold"),  url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins-Bold"),  url("./fonts/Poppins-Bold.ttf") format("truetype");
}

.content {
    font-family: "Poppins";
    padding: 3rem 2.5rem;
    font-size: 1.4rem;
    color: var(--white);
    background: linear-gradient( to right, var(--green), var(--darkblue));
}

.content header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
}

.content header img{
    width: 10rem;
    height: 5rem;
}

.content header nav {
    display: flex;
    justify-content: space-between;
    flex: 0.5;
}

.content header nav .icon{
    width: 2rem;
    height: 2rem;
}