@font-face {
    font-family: "Poppins";
    src: local("Poppins-Regular"), url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: local("Poppins-Medium"), url("./fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Black";
    src: local("Poppins-Black"), url("./fonts/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins-SemiBold"),  url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins-Bold"),  url("./fonts/Poppins-Bold.ttf") format("truetype");
}

.content {
    font-family: "Poppins";
    padding: 3rem 2.5rem;
    font-size: 1.4rem;
    color: var(--white);
    background: linear-gradient(154.76deg, var(--green), var(--darkblue));
    min-height: 100vh;
}

.content header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.content header img{
    width: 10rem;
    height: 5rem;
}

.content header nav {
    display: flex;
    justify-content: space-between;
    width: 15.5rem;
}

.content header nav .icon{
    width: 2rem;
    height: 2rem;
}

.content .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .container-image img{
    width: 30rem;
}

.content main h2{
    font-family: "Poppins-Bold";
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.content main h1{
    font-family: "Poppins-Bold";
    font-weight: 900;
    font-size: 5.6rem;
    line-height: 6.1rem;
}

.content main p {
    font-family: "Poppins";
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

.content main div .container-primary{
    font-family: "Poppins";
    background-color: var(--buttonPrimary);
    padding: 1rem 3.3rem;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: var(--white);    
}

.content main div .container-outline{
    display: none;
}

@media (min-width: 600px){
    .content {
        padding: 3rem 10rem;
    }
}