@font-face {
    font-family: "Poppins";
    src: local("Poppins-Regular"), url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: local("Poppins-Medium"), url("./fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Black";
    src: local("Poppins-Black"), url("./fonts/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins-SemiBold"),  url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins-Bold"),  url("./fonts/Poppins-Bold.ttf") format("truetype");
}



.content {
    font-family: "Poppins";
    padding: 3rem 2.5rem;
    font-size: 1.4rem;
    color: var(--white);
    background: linear-gradient(154.76deg, var(--green), var(--darkblue));
    min-height: 100vh;
    background-image: url(./img/team.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.5rem;
}

.content header img{
    width: 10rem;
    height: 8rem;
    border-radius: 100%;
}

.content header nav {
    display: flex;
    justify-content: space-between;
    width: 15.5rem;
}

.content header nav a{
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
    border-radius: 3rem;
    display: flex;
    cursor: pointer;
    transition: all 1s;
}

.content header nav a:hover{
    transition: all 1s;
    opacity: 0.5;
}

.content header nav .icon{
    width: 2rem;
    height: 2rem;
}

.content .image-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .image-mobile img{
    width: 30rem;
}

.content .image-desktop{
    display: none;
}


.content main h2{
    font-family: "Poppins-Bold";
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: .6rem;

}

.content main h1{
    font-family: "Poppins-Bold";
    font-weight: 900;
    font-size: 5.6rem;
    line-height: 6.1rem;
}

.content main p {
    font-family: "Poppins";
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}

.content main div .container-primary{
    font-family: "Poppins";
    background-color: var(--buttonPrimary);
    padding: 1rem 3.3rem;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #ffffff;    
    cursor: pointer;
    border: 0.2rem solid var(--buttonPrimary);
    transition: all 1s;
    border-radius: 1rem;
}

.content main div .container-primary:hover{
    transition: all 1s;
    opacity: 0.8;
}

.content main div .container-primary .icon-button{
    margin-right: 1rem;
}

.content main div .container-outline{
    font-family: "Poppins";
    background-color: #567AE5;
    padding: 1rem 3.3rem;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #ffffff;    
    display: none;
    border: .2rem solid #567AE5;
    cursor: pointer;
    transition: all 1s;
    border-radius: 1rem;
}

.content main div .container-outline .icon-button{
    margin-right: 1rem;
}

.content main div .container-outline:hover{
    transition: all 1s;
    opacity: 0.8;
}

@media (min-width: 600px){
    .content {
        padding: 3rem 10rem;
    }
}

@media (min-width: 1024px){
    .content {
        padding: 5.2rem 18rem;
    }

    
    .content header {
        margin-bottom: 7.5rem;
    }

    .content header nav {
        width: 18.3rem;
    }

    .content header nav .icon{
        width: 2.4rem;
        height: 2.4rem;
    }

    .content .container{
        display: grid;
        grid-column-gap: 165px;
        grid-template-columns: auto auto;
    }
        
    .content .image-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content .image-desktop img{
        width: 55rem;
        height: 50rem;
    }

    .content .image-mobile{
        display: none;
    }
    
    .content main h2{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1.4rem;
    }
    
    .content main h1{
        font-size: 6.5rem;
        line-height: 7.4rem;
    }
    
    .content main p {
        font-family: "Poppins";
        font-size: 1.6rem;
        line-height: 2.9rem;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }

    .content main div .container-outline{
        display: inline;
        margin-left: 1.5rem;
        transition: all 1s;
    }

    .content header img {
        width: 12rem;
        height: 8rem;
    }

}